.group-text-image {
  padding: 3.25rem 12.25rem 3.25rem 12.25rem !important;
  gap: 5rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.img-container-group img {
  width: 600px;
  height: 350px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.img-container-group img:hover {
  transform: scale(1.05);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  padding: 1rem 6rem 1rem 6rem;
}

@media screen and (max-width: 1024px) {
  .group-text-image {
    padding: 2.25rem 5.25rem 2.25rem 5.25rem !important;
    gap: 5rem !important;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container {
    align-items: center;
    text-align: center !important;
  }

  .img-container-group img {
    min-width: 450px;
  }
  .text-group-txt {
    text-align: center !important;
  }
}

.text-container {
  max-width: 100%;
}

.img-container-group img {
  min-width: 250px;
}

@media screen and (max-width: 768px) {
  .text-container {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
