.second-about {
  background-color: #ffffff;
}

.background-white {
  background-color: #ffffff;
}

.select-container {
  width: 100px;
  background-color: transparent;
  border-radius: 0px !important; /* Squared corners (no border radius) */
  color: white; /* Will be overridden by the class below */
  font-weight: bold;
  transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.section-legal {
  padding-left: 3.984vw !important;
  padding-right: 3.984vw;
}

@media (max-width: 768px) {
  .section-legal {
    padding-left: 3vw !important;
    padding-right: 3vw;
  }
}

p {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 1px;
}

ul {
  text-align: justify;
}

.select-container .MuiSelect-select {
  padding: 10px;
  color: white; /* Override default color */
  font-weight: bold;
}

.select-container .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Default border color */
  border-width: 1px;
  transition: border-width 0.1s ease-in-out;
}

.select-container:hover .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Hover border color */
  border-width: 2px;
}

.select-container.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important; /* Focused border color */
  border-width: 2px;
  box-shadow: none;
}

.select-container .Mui-focused {
  background-color: transparent;
  box-shadow: none;
}

.select-container .MuiSelect-icon {
  color: white; /* White arrow */
}
