/* Paper Input Style with All Borders */
.contact-form {
  font-family: "Roboto", sans-serif;
  width: 80%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 24px;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: transparent;
  outline: none;
  border-radius: 4px; /* Add a slight border radius */
  background-color: white;
  margin-bottom: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #393939;
  box-shadow: 0 0 5px rgba(102, 204, 255, 0.5);
}

.contact-form label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s;
  background: white; /* Background color to hide overlap */
  padding: 0 5px; /* Padding to avoid text overlap */
}

.contact-form input:focus + label,
.contact-form textarea:focus + label,
.contact-form input:not(:placeholder-shown) + label,
.contact-form textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 1rem;
  color: #393939;
  background-color: transparent;
}

.contact-form input[type="submit"] {
  height: 3rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  background-color: #393939;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #302f2f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
