.header-container {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-container-padding {
  padding-left: 100px !important;
  padding-right: 100px !important;

  @media (max-width: 700px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  @media (max-width: 500px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.header-not-absolute {
  background-color: transparent;
  width: 100%;
  z-index: 100;
}

.header-button {
  border: 1px white solid;
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;

  :hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
.header-button-dark {
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;

  :hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.logo-white {
  filter: brightness(0) /* Increase brightness to lighten the color */
    saturate(0%) /* Desaturate to remove color */ invert(100%)
    /* Invert the color */ sepia(0%); /* Remove any sepia tones */
  width: 12.625rem;
  @media (max-width: 500px) {
    width: 8.625rem;
  }
}
.logo-dark {
  width: 12.625rem;

  @media (max-width: 500px) {
    width: 8.625rem;
  }
}

.logo-sticky {
  width: 8.265rem;
}

.sticky {
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35); /* More blurred shadow initially */
  z-index: 1000; /* Ensure it's above other content */
  padding-top: 5px !important;
}
