.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu.open {
  height: 200px; /* Adjust height as needed */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 50px; /* Adjust top padding to center vertically */
}

.menu ul li {
  margin-bottom: 20px;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}
