/* CustomCarouselStyles.css */

/* Customize the container of the carousel */
.control-dots {
  display: none;
}

.carousel-status {
  display: none;
}
.custom-carousel-arrow-prev {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 25px;
  @media (max-width: 1200px) {
    left: 80%;
  }
}

/* Custom style for the next (right) arrow button */
.custom-carousel-arrow-next {
  position: absolute;
  left: 7rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 25px;

  @media (max-width: 1200px) {
    top: 65%;
    left: 80%;
  }
}

.carousel-container {
  @media (max-width: 768px) {
    margin-left: 10%;
  }
}

/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 25%;
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    width: 3rem;
    height: 3rem;
  }
}

.button-81:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
