body {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
  overflow-x: hidden;
}

@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Taviraj"), url("./fonts/Taviraj-Regular.ttf") format("truetype");
}

.carousel-root {
  width: 100vw;
}
